@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@


	   <div class="top-bar nav-desktop show-for-medium">
      <div class="wrap">
        <div class="top-bar-left">
			  @{var mediaItem = Umbraco.TypedMedia(Model.Content.GetPropertyValue("logo", true));  }                  

              <a href="/"> <img src="@mediaItem.GetPropertyValue("umbracoFile")" class="site-logo" />
       			</a>
				  </div>
        <div class="top-bar-right">
  
    	<ul class="menu menu-desktop">
  @{ Html.RenderPartial("DynamicNavigation"); }
</ul>
			</div>
      </div>
    </div>