@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	<!-- HERO SECTION -->
<section class="hero">
	<div class="wrap">
<div class="row">
	  
	<div class="large-8 columns"><img src="@Umbraco.Media(CurrentPage.picture).Url" class ="heroimg" /></div>
  <div class="large-4 columns">
  <h3>@Umbraco.Field("textBody")</h3>
  <a href="#" class="button large expanded" align="right">Find Out How</a>
  </a>
</div>
</div>
	  </section>
	  
