<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT frontPage ANY>
<!ATTLIST frontPage id ID #REQUIRED>
]>
<root id="-1">
  <frontPage id="1052" key="ea13d401-47d1-41fe-955b-85e54bdc4942" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-04T13:24:03" updateDate="2017-03-16T11:45:57" nodeName="Front  Page" urlName="front-page" path="-1,1052" isDoc="" nodeType="1051" creatorName="Vasil Vasilev" writerName="Vasil Vasilev" writerID="0" template="1050" nodeTypeAlias="frontPage">
    <wellcomeMsg><![CDATA[Hi, I'm Vasil Vasilev, an Web Development Student curently on my way to success.]]></wellcomeMsg>
    <textBody><![CDATA[<h3>Learning how to design and develop websites.</h3>]]></textBody>
    <picture><![CDATA[1064]]></picture>
    <logo><![CDATA[1058]]></logo>
    <icons><![CDATA[1063,1066,1071,1084]]></icons>
    <repeatableText><![CDATA[This is some random information about me that i will fill in later because i am lazy 1
This is some random information about me that i will fill in later because i am lazy 2
This is some random information about me that i will fill in later because i am lazy 3
This is some random information about me that i will fill in later because i am lazy 4]]></repeatableText>
    <title><![CDATA[About Me
CV
Work
Blog]]></title>
    <email><![CDATA[vaseto109@gmial.com]]></email>
    <address><![CDATA[Denmark, Greve, Jerismosevej 9]]></address>
    <phone><![CDATA[0878-11-30-78]]></phone>
  </frontPage>
</root>