<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT test1 ANY>
<!ATTLIST test1 id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT frontPage ANY>
<!ATTLIST frontPage id ID #REQUIRED>
]>
<root id="-1">
  <frontPage id="1052" key="ea13d401-47d1-41fe-955b-85e54bdc4942" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-03-04T13:24:03" updateDate="2017-03-17T11:54:58" nodeName="Front  Page" urlName="front-page" path="-1,1052" isDoc="" nodeType="1051" creatorName="Vasil Vasilev" writerName="Vasil Vasilev" writerID="0" template="1050" nodeTypeAlias="frontPage">
    <wellcomeMsg><![CDATA[Hi, I'm Vasil Vasilev, an Web Development Student curently on my way to success.]]></wellcomeMsg>
    <textBody><![CDATA[<h3>Learning how to design and develop websites.</h3>]]></textBody>
    <picture><![CDATA[1064]]></picture>
    <logo><![CDATA[1058]]></logo>
    <icons><![CDATA[1063,1066,1071,1084]]></icons>
    <repeatableText><![CDATA[This is some random information about me that i will fill in later because i am lazy 1
This is some random information about me that i will fill in later because i am lazy 2
This is some random information about me that i will fill in later because i am lazy 3
This is some random information about me that i will fill in later because i am lazy 4]]></repeatableText>
    <title><![CDATA[About
CV
Work
Blog]]></title>
    <email><![CDATA[vaseto109@gmial.com]]></email>
    <address><![CDATA[Denmark, Greve, Jerismosevej 9]]></address>
    <phone><![CDATA[0878-11-30-78]]></phone>
    <about id="1088" key="e41948d9-6bdf-489d-bb28-db6e33edf1fc" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2017-03-16T20:19:34" updateDate="2017-03-17T12:02:10" nodeName="About" urlName="about" path="-1,1052,1088" isDoc="" nodeType="1086" creatorName="Vasil Vasilev" writerName="Vasil Vasilev" writerID="0" template="1085" nodeTypeAlias="about">
      <profilePicture><![CDATA[1087]]></profilePicture>
      <aboutTitle><![CDATA[Vasil Vasilev - Future Web Designer & Developer]]></aboutTitle>
      <aboutInformation><![CDATA[<p style="text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p style="text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
<p style="text-align: left;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.&lt;</p>]]></aboutInformation>
    </about>
    <about id="1089" key="530bf9f8-4b68-4e99-9f90-45b85b304449" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2017-03-17T08:30:20" updateDate="2017-03-17T08:30:20" nodeName="Tesst" urlName="tesst" path="-1,1052,1089" isDoc="" nodeType="1086" creatorName="Vasil Vasilev" writerName="Vasil Vasilev" writerID="0" template="1085" nodeTypeAlias="about">
      <profilePicture><![CDATA[1068]]></profilePicture>
      <aboutTitle><![CDATA[test title]]></aboutTitle>
      <aboutInformation><![CDATA[<p>This is a test</p>]]></aboutInformation>
    </about>
    <test1 id="1092" key="e7435397-69d0-483a-9440-3b751026b6aa" parentID="1052" level="2" creatorID="0" sortOrder="2" createDate="2017-03-17T08:33:04" updateDate="2017-03-17T08:33:04" nodeName="Test1" urlName="test1" path="-1,1052,1092" isDoc="" nodeType="1091" creatorName="Vasil Vasilev" writerName="Vasil Vasilev" writerID="0" template="1090" nodeTypeAlias="test1" />
  </frontPage>
</root>